@page "/registerEmp"
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;

<Form @ref="form"
      Model="@model"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <GridRow>
        <GridCol Span="12">
            <FormItem Label="First Name">
                <Input @bind-Value="@context.Note" />
            </FormItem>
            <FormItem Label="Last Name">
                <Input @bind-Value="@context.Note" />
            </FormItem>
            <FormItem Label="Home Phone">
                <Input @bind-Value="@context.Note" />
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem WrapperColOffset="4" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Register
                </Button>
                <Button OnClick="Reset">
                    Clear
                </Button>
            </FormItem>
        </GridCol>
    </GridRow>
  
  
    
</Form>

<RegisterEmpTable></RegisterEmpTable>
@code
{
    public class Model
    {
        [Required]
        public string Note { get; set; }
        [Required]
        public string Gender { get; set; }
        [Required]
        public DateTime?[] DateRange { get; set; }
    }

    private Model model = new Model();
    private Form<Model> form;

 
    private void Reset(MouseEventArgs args)
    {
        form.Reset();
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

    private void OnGenderChanged(string gender)
    {
        switch (gender)
        {
            case "Male":
                form.Model.Note = "Hello Sir!";
                break;
            case "Female":
                form.Model.Note = "Hello Madam!";
                break;
            case "Other":
                form.Model.Note = "Hello there!";
                break;
            default:
                break;
        }
    }
}