@page "/registerEmp"
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using BlazorApp.Data;
<Form @ref="form"
      Model="@model"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="8"
      WrapperColSpan="16">
    <GridRow>
        <GridCol Span="12">
            <FormItem Label="First Name">
                <Input @bind-Value="@context.FirstName" />
            </FormItem>
            <FormItem Label="Last Name">
                <Input @bind-Value="@context.LastName" />
            </FormItem>
            <FormItem Label="Home Phone">
                <Input @bind-Value="@context.HomePhone" />
            </FormItem>
        </GridCol>
        <GridCol Span="12">
            <FormItem WrapperColOffset="4" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Register
                </Button>
                <Button OnClick="Reset">
                    Clear
                </Button>
            </FormItem>
        </GridCol>
    </GridRow>
</Form>
<RegisterEmpTable></RegisterEmpTable>
@code
{
 

    private EmployeeRegistrationView model = new EmployeeRegistrationView();


    private Form<EmployeeRegistrationView>  form;


    private void Reset(MouseEventArgs args)
    {
        form.Reset();
    }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

 }