@using System.ComponentModel
@using AntDesign.TableModels

<Table @ref="table"
       TItem="QueryEmployeeVo"
       DataSource="@pageList"
       Total="@Total"
       PageIndex="@PageIndex"
       PageSize="@PageSize" @bind-SelectedRows="selectedRows"
       OnChange="OnChange"
       Size="TableSize.Small"
       RowKey="x=>x.SkillID">
    <PropertyColumn Title="Skill" Property="c=>c.Skill" Width="150" Align="@columnAlign" />
    <PropertyColumn Title="Level" Property="c=>c.Level" Width="350" Align="@columnAlign">
        <RadioGroup @bind-Value="@context.Level">
            <Radio Value="1">Novice</Radio>
            <Radio Value="2">Proficient</Radio>
            <Radio Value="3">Expert</Radio>
        </RadioGroup>
    </PropertyColumn>
    <PropertyColumn Title="YOE" Property="c=>c.YearsOfExperience" Align="@columnAlign">
        <Input Type="number" Placeholder="0" @bind-Value="@context.YearsOfExperience" />
    </PropertyColumn>
    <PropertyColumn Title="Hourly Wage" Property="c=>c.HourlyWage" Align="@columnAlign">
        <Input Type="number" Placeholder="0" @bind-Value="@context.HourlyWage" />
    </PropertyColumn>
</Table>
<p>PageIndex: @PageIndex | PageSize: @PageSize | Total: @Total</p>

@if (selectedRows != null && selectedRows.Any())
{



}

@using System.Text.Json;
@using BlazorApp.Data;
@using Services.Vo;
@code {

    [Parameter]
    public List<QueryEmployeeVo> skillList { get; set; }

    public List<QueryEmployeeVo> pageList { get; set; }



    public int PageIndex { get; set; } = 1;

    public int PageSize { get; set; } = 20;

    public int Total { get; set; }

    ColumnAlign columnAlign = ColumnAlign.Left;

    public IEnumerable<QueryEmployeeVo> selectedRows;

    ITable table;

    protected override async Task OnInitializedAsync()
    {
        pageList = this.HandlePageChange(PageIndex, PageSize);
        Total = skillList.Count();
    }

    public async Task OnChange(QueryModel<QueryEmployeeVo> queryModel)
    {
        PageIndex = queryModel.PageIndex;
        PageSize = queryModel.PageSize;
        pageList = this.HandlePageChange(PageIndex, PageSize);
    }
    private List<QueryEmployeeVo> HandlePageChange(int pageIndex, int pageSize)
    {
        int startIndex = (pageIndex - 1) * pageSize;
        startIndex = Math.Max(0, Math.Min(startIndex, skillList.Count - 1));
        var paginatedList = skillList.Skip(startIndex).Take(pageSize).ToList();
        return paginatedList;
    }


}
